
.square{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.ligne{
    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
    
}
.start{

    
    background-image: url('../../assets/images/cartaxi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.target{
    background-image: url('../../assets/images/5107167.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.wall{
    background-image: url('../../assets/images/house-building_1f3e0.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.normal{
    
}