<div class="container">
  <div class="ligne">
    <div *ngFor="let row of nodes;">
      <div class="square">
        <div  *ngFor="let columnNode of row;" [ngClass]="statusNode(columnNode)">
          <app-carre
            id="{{columnNode.row}}-{{columnNode.col}}"
            (click) = "addWall(columnNode)"
            (mousedown)="mouseDown(columnNode)"
            (mouseenter) = "mouseEnter(columnNode)"
            (mouseleave)="mouseLeave(columnNode)"
            (mouseup) = "mouseUp(columnNode)"
            class="littlSquare"
          ></app-carre>
        </div>
      </div>
    </div>
  </div>
</div>
<button >hello</button>
