.square{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.ligne{
    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
    
}
.start{
    background-image: url("../../assets/images/R.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.target{
    background-color: rosybrown;
}
.normal{
    
}