.content{
    
    background-color: rgb(255, 255, 255) !important;   
    
}
.square{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.ligne{
    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
    
}
.start{

    
    background-image: url('../../assets/images/cartaxi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.target{
    background-image: url('../../assets/images/5107167.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.wall{
    background-image: url('../../assets/images/house-building_1f3e0.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.treeWall{
    background-image: url('../../assets/images/tree.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.path{
    background-color: #FD8A8A;
}
.visitedAnimation{
    animation: backgroundAnim 0.5s ease-in-out 0s 1 normal forwards;
}
.visited{
    background-color: #82AAE3;

}
.closed{
    background-color: #82AAE3;

}
.person{
    background-image: url('../../assets/images/person.png');
    background-repeat: no-repeat;
    background-size: contain;
}

@keyframes backgroundAnim {
  0%{
    background-color: #baeeeb;
   
  }
  50%{
    background-color:#9ee2f3;
  }
  80%{
    background-color: #84dbeb;
  }
  100%{
    background-color: #82AAE3;

  }
}