.container{
    display: flex;
    justify-content: center;
    align-items:center ;
}
.ligne{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}
.square{
   padding: 0;
    border: 0.5px solid rgb(21, 83, 103); 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  
    position: relative;
}

.littlSquare{
    
    padding: 0;

}
.startingBox{
    background-color: firebrick;
}

.targetBox{
    background-color: aqua;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    z-index: 100;
    width: 15px;
    height: 15px;
    background-color: cadetblue;
}