.ligne{
    display: flex;
    flex-direction: row;
    padding: 0;
}
.square{
   padding: 0;
    border: 0.5px solid rgb(21, 83, 103); 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
}

.littlSquare{
    
    padding: 0;
}