<div class="container">
    <div class="ligne">
        <div *ngFor="let square of squares;">
            <div class="square">
    
            
            <div  *ngFor="let littleSquare of square;" cdkDrag [ngClass]="drawStartingTargetBox(littleSquare)">
                <div class="circle" cdkDrag *ngIf ="littleSquare.isStartingbox" >
                    <p>hello</p>
                </div>
                <app-carre  class="littlSquare" ></app-carre>
                
            </div>
            
    
        </div>
        </div>
    </div>
</div>